body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #002b38;
}

.headline {
    width: 100%;
    padding-bottom: 30px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.box-link {
    outline: none;
}

.box-container {
    display: flex;
    width: 100%;
    justify-content: center;
    outline: none;
}

.box img {
    width: 150px;
}

.box-summary {
    width: 100%;
    color: white;
    padding-top: 5px;
}

.box-summary.header {
    border-bottom: 1px solid #ffffff4d;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
}

.box-summary.header a {
    color: white;
}

.box-summary.coupon {
    padding-top: 34px;
    color: #0ff;
    font-family: Aria;
    font-size: x-large;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    margin: 80px auto 0;
    display: flex;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 500px;
    /*  height: 100px; */
    box-sizing: border-box;
    margin: 0 10px;
    background: #00171d;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0, 7, 10, 1);
    display: flex;
    flex-flow: wrap;
}

.container .box .icon {
    width: 100%;
    height: 100%;
    background: #00171d;
    transition: 0.5s;
}

.container .box .icon .fa {
    font-size: 4em;
    line-height: 100px;
    color: #0ff;
}

.container .box:hover {
    animation-name: bounce;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
    border-bottom: 1px solid #f0f8ff33;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    outline: none;
}

li a:hover {
    text-decoration: underline;
}